html,
body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #F1F8FF;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.App-header {
  background-color: #282c34;
  color: white;
  padding: 40px 0;
  text-align: center;
}

.landing-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 40px auto;
  font-size: 18px;
  color: #333;
  max-width: 1000px;
  text-align: left;
}

.text-content {
  flex: 1;
  margin-right: 20px;
}

.image-container {
  flex: 1;
  text-align: center;
}

.landing-image {
  width: 140%;
  max-width: 1000px;
  height: auto;
  border-radius: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.market-button {
  padding: 20px 40px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color:#282c34;
  color: white;
  transition: background-color 0.3s ease;
  min-width: 180px;
  text-align: center;
}

.market-button:hover {
  background-color: #45a049;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
